@page {
    size: letter portrait;
    margin: 0;
}

.paper {
    background-color: var(--color-grey-100);
}

html {
    font-size: 8pt;   
}

/* ensure content doesn't get broken */
.layout__row,
.layout__header {
    page-break-inside: avoid;
}

/* save ink */
* {
    box-shadow: none;
    text-shadow: none;
}

/* print link hrefs  */
/* a:after {
    content: " ("attr(href)")";
    font-size: 0.85rem;
} */

