:root {
    --bg-color: #FAFAFA;
    --bg-color-alt: #ECEFF1;
    --primary-color: #000;
    --secondary-color: #DD2C00;
    --bg-color-contrast: var(--secondary-color);
    --link-color: #0366d6;
    --border-color: rgba(0, 0, 0, 0.0);

    --max-width: 1024px;
    --sidebar-width: 33%;
    --spacing: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;

    --heading-font-family: 'Open Sans', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
}

/* 
    Scaffolding 
                */

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    background-color: var(--bg-color);
}

/* 
    Typography 
                */

body {
    font: 1rem var(--body-font-family);
    font-weight: 300;
    line-height: 1.5;
    word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    margin-top: 0;
    margin-bottom: var(--spacing-2);
}

ul {
    padding-left: var(--spacing-2);
    list-style: none
}

ul li::before {
    content: "\2022";
    color: var(--secondary-color); 
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25rem;
    width: 1rem;
    margin-left: -1rem;
  }

p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

p + p {
    margin-top: var(--spacing-2);
}

strong {
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading--section {
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
}

.heading__icon {
    margin-right: var(--spacing-2);
    width: 32px;
    height: 32px;
}

.is-gutterless {
    margin-bottom: 0;
}

/* 
    Layout 
                */

.layout__row,
.layout__header {
    display: flex;
    flex-direction: column;
}

.layout__row__sidebar,
.header__sidebar {
    flex: 1 0 auto;
    padding: var(--spacing-3) var(--spacing-4) 0;
}

.layout__row__main,
.header__main {
    flex: 1 1 auto;
    padding: var(--spacing-3) var(--spacing-4);
}

.header__sidebar {
    background-color: #BF360C;
    color: #FFF;
}

.header__sidebar:empty {
    display: none;
}

.header__sidebar--bginverted {
    background-color: #212121;
    padding-top: var(--spacing-4) !important;
    padding-bottom: var(--spacing-4) !important;
}

.header__main {
    background-color: #212121;
    color: #FFF;
    fill: #FFF;
}

.header__main--bginverted {
    background-color: #BF360C;
    padding-top: var(--spacing-4) !important;
    padding-bottom: var(--spacing-4) !important;
}

.header__main--bginverted p {
    /* font-size: 1.15rem; */
}


.layout__footer {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-4);
    text-align: center;
}

.footer__blurb {
    display: inline-flex;
    padding-left: var(--spacing-2); 
    padding-right: var(--spacing-2);
    flex-wrap: wrap;
    justify-content: center; 
}

.footer__blurb__link {
    display: inline-flex;
    align-items: flex-start;
}

.footer__icon {
    width: 18px;
    height: 18px;
    margin-left: var(--spacing);
    margin-right: 4px;
}

.header__subtitle {
    margin-top: 0;
    margin-bottom: var(--spacing-2);
    color: #f15627;
}

.header__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__link {
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    margin-top: var(--spacing);
    flex-wrap: wrap;
    color: #FFF;
}

.header__link__icon {
    width: 18px;
    height: 18px;
    margin-right: var(--spacing);
    fill: #FFF;
}

/* 
    2 columns layout changes. 
    Also applies to A4 print/pdf
*/
@media all and (min-width: 600px) {
    .layout__row,
    .layout__header {
        flex-direction: row;
    }

    .layout__row__sidebar,
    .header__sidebar {
        flex-grow: 0;
        flex-basis: var(--sidebar-width); 
        padding-bottom: var(--spacing-3);
    }

    .header__sidebar:empty {
        display: block;
    }

    .layout__header ~ .layout__row:nth-child(2n + 3) .layout__row__main, 
    .layout__header ~ .layout__row:nth-child(2n + 2) .layout__row__sidebar {
        background-color: var(--bg-color-alt);
    }

    .layout__header ~ .layout__row:nth-child(2n + 3) .layout__row__sidebar, 
    .layout__header ~ .layout__row:nth-child(2n + 2) .layout__row__main {
        background-color: #FFF;
    }
}

/* Non print enhancements */
@media screen and (min-width: 900px) {
    .layout {
        margin: 48px 48px 0;
    }

    .paper {
        border-radius: 2px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 
            0 1px 10px 0 rgba(0,0,0,0.12), 
            0 2px 4px -1px rgba(0,0,0,0.3);
    }
}

/*
    Content
            */
.paper {
    background-color: white;
    max-width: var(--max-width);
    flex: 0 1 auto;
    margin: 0 auto;
    overflow: hidden;
}

.rating__icon {
    fill: var(--secondary-color);
    width: 18px;
    height: 18px;
}