@import './normalize.css';

:root {
    --color-deeporange-500: #BF360C;
    --color-deeporange-600: #f15627;
    --color-grey-50: #FAFAFA;
    --color-grey-100: #ECEFF1;
    --color-grey-800: #212121;

    --color-primary: var(--color-deeporange-500);

    --font-color-primary: #DD2C00;
    --font-color-dark: rgba(0,0,0,.98);
    --font-color-light: rgba(255,255,255,.98);

    --font-family-heading: 'Open Sans', sans-serif;
    --font-family-body: 'Roboto', sans-serif;  

    --size: 8px;
    --size-2: calc(2 * var(--size));
    --size-3: calc(3 * var(--size));
    --size-4: calc(4 * var(--size));

    --layout-max-width: 1024px;
    --layout-sidebar-width: 33.33%;
}

/* 
    Scaffolding 
                */

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    background-color: var(--color-grey-50);
}

/* 
    Typography 
                */

body {
    font: 1rem/1.65 var(--font-family-body);
    font-weight: 300;
    color: var(--font-color-dark);
    word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    margin-top: 0;
    margin-bottom: var(--size-2);
}

ul {
    padding-left: var(--size-3);
    list-style: none
}

ul li::before {
    content: "■";
    color: var(--font-color-primary);
    display: inline-flex;
    vertical-align: top;
    width: var(--size-3);
    margin-left: calc(var(--size-3) * -1);
    line-height: normal;
}

p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

p + p {
    margin-top: var(--size-2);
}

strong {
    color: var(--font-color-primary);
}

a {
    color: var(--font-color-primary);
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.heading__icon {
    margin-right: var(--size-2);
    width: 32px;
    height: 32px;
}

.is-gutterless {
    margin-top: 0;
    margin-bottom: 0;
}

/* 
    Layout - header & content rows
                                    */

.content,
.header {
    display: flex;
    flex-direction: column;
}

.header {
    color: var(--font-color-light);
    fill: var(--font-color-light);
}

.content__sidebar,
.header__sidebar {
    flex: 1 0 auto;
}

.content__main,
.header__main {
    flex: 1 1 auto;
}

.header__main,
.header__sidebar {
    padding: var(--size-4);
}

.content__main,
.content__sidebar {
    background-color: #FFF;
    padding: var(--size-3) var(--size-4);
}

.content__sidebar {
    padding-bottom: 0;
}

.header__sidebar:empty {
    display: none;
}

.header__sidebar {
    background-color: var(--color-primary);
}

.header__main {
    background-color: var(--color-grey-800);
}

/*
    Header content 
                    */

.header__main--bginverted {
    background-color: var(--color-primary);
}

.header__sidebar--bginverted {
    background-color: var(--color-grey-800);
}

.header__main p {
    font-size: 1.1rem;
}

.header__subtitle {
    margin-top: 0;
    margin-bottom: var(--size-2);
    color: var(--color-deeporange-600);
}

.header__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__link {
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-top: var(--size);
    flex-wrap: wrap;
    color: var(--font-color-light);
}

.header__link__icon {
    width: 18px;
    height: 18px;
    margin-top: -1px;
    margin-right: var(--size);
    fill: var(--font-color-light);
}

.header__links {
    padding-left: 0;
}
.header__links li:before {
    display: none;
}

/*
    Footer
            */

.footer {
    margin-top: var(--size-4);
    margin-bottom: var(--size-4);
    text-align: center;
}

.footer__blurb {
    display: flex;
    padding-left: var(--size-2); 
    padding-right: var(--size-2);
    flex-wrap: wrap;
    justify-content: center; 
}

.footer__blurb__link {
    display: inline-flex;
    align-items: flex-start;
}

.footer__icon {
    width: 18px;
    height: 18px;
    margin-left: var(--size);
    margin-right: 4px;
}

/* 
    2 columns layout changes. 
    Also applies to A4 print/pdf
*/
@media all and (min-width: 600px) {
    .content,
    .header {
        flex-direction: row;
    }

    .content__sidebar,
    .header__sidebar {
        flex-grow: 0;
        width: var(--layout-sidebar-width);
    }

    .header__sidebar:empty {
        display: block;
    }

    .content__sidebar {
        padding-bottom: var(--size-3);
    }

    .content:nth-child(2n) .content__sidebar, 
    .content:nth-child(2n + 1) .content__main {
        background-color: var(--color-grey-100);
    }
}

/* Screen only enhancements */
@media only screen and (min-width: 1024px) {
    .layout {
        padding: 48px 48px 0;
    }

    .paper {
        border-radius: 2px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 
            0 1px 10px 0 rgba(0,0,0,0.12), 
            0 2px 4px -1px rgba(0,0,0,0.3);
    }
}

/*
    Content
            */
.paper {
    background-color: #FFF;
    max-width: var(--layout-max-width);
    flex: 0 1 auto;
    margin: 0 auto;
    overflow: hidden;
}

.rating__icon {
    fill: var(--font-color-primary);
    width: 18px;
    height: 18px;
}